<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list>
      <img src="./assets/icon/logoof.png" alt="">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-title>Rectas publicadas</ion-title>
 <ion-list>
   <ion-text >Cocacadas</ion-text>
 </ion-list>
  
  <img id="imagen"  src="./assets/icon/imagen2.jpeg" alt="">
  <ion-list>
    <ion-text id="titulo">Ingredientes:</ion-text>
  </ion-list>
    <p id="i"> Galletas de soda</p>
    <p id="i"> Manjar</p>
    <p id="i"> Coco rayado</p>
  <p id="titulo">Preparacion:</p>
  <p id="p">1.Triturar las galletas y luego vertirlas en un recipiente</p>
  <p id="p">2.Vertirle el manjar al recipiente</p>
  <p id="p" >3.Con las manos hacer bolas de tamaño mediano</p>
  <p id="p">4.Luego en un plato que contiene coco rayado, vertirla hasta que cubiertas de este</p>
  <p id="p">5.Dejarlas en el refriguerador media hora</p>
  <p id="p">¡Ya estan listas!</p>
</ion-content>
