<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list>
      <img src="./assets/icon/logoof.png" alt="">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
  <ion-item >
    <ion-title id="titulo">Cuenta</ion-title>
    <ion-icon  id="icon"  name="person-outline" size="large"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-textarea label="Nombre:"    ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea label="Email:"    ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea label="Recetas publicadas:"    ></ion-textarea>
    </ion-item>
    <ion-button color="light"   size="medium" (click)="eliminarCuenta()">
      <ion-text>Eliminar cuenta</ion-text>
    </ion-button>
    <ion-button color="light"  size="medium" (click) = "modificar()">
      <ion-text>Modificar</ion-text>
    </ion-button>
  </ion-list>
</ion-content>
