<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>Cuenta</ion-title>
  <ion-icon name="person-outline" size="large"></ion-icon>
  <ion-input
  type="name"
  fill="solid"
  label="Nombre: "
  labelPlacement="floating"
  ngModel
  nombre
></ion-input>
<ion-input
  type="email"
  fill="solid"
  label="Email: "
  labelPlacement="floating"
  ngModel
  email
></ion-input>
<ion-input
  type="recetas"
  fill="solid"
  label="Recetas publicadas:"
  labelPlacement="floating"
  ngModel
></ion-input>

<ion-button>Eliminar cuenta</ion-button>

<ion-button>Modificar contraseña</ion-button>

 
</ion-content>
