<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list>
      <img src="./assets/icon/logoof.png" alt="">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-list>
  </ion-toolbar>
 
</ion-header>
<ion-content>
  <ion-list>
    <ion-title>Cambie su contraseña</ion-title>
    <ion-item >
      <ion-textarea label="">Ingrese su nueva contraseña:</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea label="" >Confirme su contraseña:</ion-textarea>
    </ion-item>
    <ion-button color="light"  (click)="irPagina()">
      <ion-text>Aceptar</ion-text>
    </ion-button>
  </ion-list> 
</ion-content>
