img{
    width: 85px;
    height: auto;
}
ion-icon{
    float: right;
    position: relative;
    height: 78px;
}

ion-title{
    font-size: large;
    color: #ff7514;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;

}

ion-textarea{
    margin-top: 20px;
    padding-top: 20px;
}

ion-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ff7514;
}