ion-item{
    padding: 20px;
}

ion-title{
    padding: 20px;
    color: darkorange;
    text-align: center;
}

ion-button{
    
    position: relative;
    right: -190px;
}

ion-text{
    color: darkorange;
}
img{
    width: 85px;
    height: auto;
}

ion-icon{
    float: right;
    position: relative;
    height: 78px;
    color: darkorange;
}