<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list>
      <img src="./assets/icon/logoof.png" alt="">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-title>¿Olvidaste tu contraseña?</ion-title>
    <ion-item>
      <ion-textarea label="">Ingrese tu nombre de usuario</ion-textarea>
    </ion-item>
    <ion-button color="light" size="medium" (click)="redirect()">
      <ion-text>Aceptar</ion-text>
    </ion-button>
  </ion-list>
</ion-content>
