ion-button{
    position: relative;
    right: -100px;
    margin-top: 10px;
    padding: 10px;

}

#icon{
    color: darkorange;
}

ion-text{
    color: darkorange;
}

ion-title{
    padding: 20px;
    color: darkorange;
}
img{
    width: 85px;
    height: auto;
}

ion-icon{
    float: right;
    position: relative;
    height: 78px;
    color: darkorange;
}