img {
    width: 70px;
    height: auto;
    max-width: 100%;

}

ion-title {
    transform: translate(-20px);
}

#input{
    margin-top: 50px;
    border: 5px;
    border-radius: 20px;
}

#password {
    margin-top: 30px;
}

#button-entrar{
    margin-top: 30px;
    border-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #a786b0;
}

#button-registrte{
    margin-top: 30px;
    background-color: #a786b0;
}