<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-list>
      <img src="./assets/icon/logoof.png" alt="">
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>Registrese aquí</ion-title>
  <ion-list>
    <ion-item>
      <ion-textarea label="Nombre:"></ion-textarea>
    </ion-item>
    <ion-item>
     <ion-textarea type="email" label="Email:"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-input
  type="password"
  label="Contraseña:"
  password></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
  type="password"
  label="Confirme su contraseña:"
  password></ion-input>
    </ion-item>
    <ion-item>
        <ion-select label="¿Cual es su genero?"    placeholder="Selecione una opcion" >
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
          <ion-select-option value="No Binario">No Binario</ion-select-option>
          <ion-select-option value="Prefiero no decirlo">Prefiero no decirlo</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Pregunta de seguridad" placeholder="Selecione una opcion" >
        <ion-select-option value="¿Mejor amiga de mi infancia?">¿Mejor amiga de mi infancia?</ion-select-option>
        <ion-select-option value="¿Segundo nombre de mi madre?">¿Segundo nombre de mi madre?</ion-select-option>
        <ion-select-option value="Nombre de mi mascota">Nombre de mi mascota</ion-select-option>
        <ion-select-option value="¿Que me hubiera gustado estudiar en mi niñez?">¿Que me hubiera gustado estudiar en mi niñez?</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea label="Ingrese la respuesta de su pregunta de seguridad"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select label="Tipo de comida de preferencia" placeholder="Elija una opcion" >
        <ion-select-option value="Vegana">Vegana</ion-select-option>
        <ion-select-option value="Vegetariana">Vegetariana</ion-select-option>
        <ion-select-option value="Carnivora">Carnivora</ion-select-option>
        <ion-select-option value="Prefiero no decirlo">Prefiero no decirlo</ion-select-option>
      </ion-select>

    </ion-item>
    <ion-button size="medium " color="light" (click)="redirect()">
      <ion-text>Registrarme</ion-text>
    </ion-button>

</ion-list>
</ion-content>
